body {
	background: #3A484E url('../images/square-bg.png');
}

a {
    color: #00BCD4;
}

a:hover {
	color: #06A7BB;
}

.navbar {
	z-index: 1000;
}

.navbar-inverse {
	border: none;
	background: #1a1c22;
}

.table tr {
	background-color: #fff;
}

.alert li {
	list-style-type: none;
}

.form-horizontal {
	margin-bottom: 0;
}

#project-img {
	text-align: left;
}

#project-img .thumbnail {
	text-align: center;
}

.mdi-action-visibility {
	color: #00acc1;	
}

#sidebar-wrapper {
	z-index: 1;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 50px;
	height: auto;
	overflow: hidden;
	background: #252830;
	transition: width ease-in 0.1s;
}

#page-content-wrapper {
	width: 100%;
	position: absolute;
	padding: 20px;
	transition: all ease-in 0.1s;
}

#page-content-wrapper h2 {
	padding-left: 15px;
}

#page-content-wrapper h2, h1 {
	margin-top: 0;
	margin-bottom: 30px;
	color: #ddd;
}

#wrapper.menu-displayed #sidebar-wrapper {
	width: 200px;
}

#wrapper.menu-displayed #page-content-wrapper {
	padding-left: 240px;
}

#wrapper.menu-not-displayed #page-content-wrapper {
	padding-left: 70px;
}

.sidebar-nav {
	padding: 0;
	list-style: none;
}

.sidebar-nav li {
	width: 200px;
	border-bottom: 1px solid #31353f;
	border-top: 1px solid #1b1e23;
	line-height: 40px;
	position: relative;
}

.sidebar-nav li.active {
	background: #1a1c22;
}

.sidebar-nav li.active .arrow-left {
	position: absolute;
	top: 25%;
	right: 0;
	width: 0; 
	height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-right-width: 10px;
	border-right-style: solid;
	border-right-color: #3A484E;
}

.sidebar-nav li:last-child {
	border-bottom: none;
}

.sidebar-nav li:last-child a {
	padding: 90px 18px;
}

ul.sidebar-nav {
	border-top: 1px solid #31353f;
	margin-top: 0;
	margin-bottom: 0;
}

.sidebar-nav li a {
	display: block;
	width: 200px;
	text-decoration: none;
	color: #ddd;
	padding: 5px 18px;
}

.sidebar-nav li:hover {
	background: #1a1c22;
}

.hide-span {
	opacity: 0;
}

.navbar-default {
	background: #171A1F;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 1px dashed #242B39;
	color: #fff;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
	color: #fff;
}

.navbar-default .navbar-toggle {
	background: #ddd;
	border-color: #1E2229;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #1D2229;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border-color: #171B25;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
	color: #ddd;
}

.navbar {
	margin-bottom: 0;
}

.panel-default > .panel-heading {
	color: #f2f2f2;
	background-color: #009688;
	border: none;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	margin-bottom: 10px;
}

.panel {
	margin-bottom: 20px;
	background-color: #fff;
	border: none;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

thead tr th {
	background-color: #009688;
	color: #f2f2f2;
	font-weight: normal;
}

table {
	border: none;
}

.table > thead > tr > th {
    text-align: center;
    border-bottom: none; 
}

.table > tbody > tr > td {
	vertical-align: middle;
}

div.thumbnail:hover,
div.thumbnail:focus,
div.thumbnail.active {
	border-color: #3db585;
}

.btn-primary {
    color: #fff;
    background-color: #00BCD4;
    border-color: #06A7BB;
}

.btn-primary:focus,
.btn-primary.focus {
  color: #fff;
  background-color: #06A7BB;
  border-color: #06A7BB;
}
.btn-primary:hover {
  color: #fff;
  background-color: #06A7BB;
  border-color: #06A7BB;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #06A7BB;
  border-color: #06A7BB;
}
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  color: #fff;
  background-color: #06A7BB;
  border-color: #06A7BB;
}

.thumbnail {
	position: relative;
}

.thumbnail > span {
	position: absolute;
	bottom: 3px;
	right: 3px;
	opacity: 0;
    transition: opacity .25s linear;
}

.thumbnail:hover > span {
    opacity: 1;
}

.greetings {
	overflow: hidden;
	width: 200px;
	padding-left: 14px;
	padding-right: 18px;
	padding-bottom: 30px;
	padding-top: 90px;
	color: #FFC107;
	background: #21292C url('../images/square-bg.png');
}

.greetings i {
	display: inline-block;
	float: left;
}

.greetings p {
	margin-left: 40px;
}