footer {
	height: 100vh;
	background-color: darken($violetWarm, 10);
	background-image: url("../images/paper-bg.png");
	position: relative;

	@include breakpoint(max-width 800px) {
		height: auto;
	}

	.footer-wrap {
		position: absolute;
		bottom: 0;
		width: 100%;

		@include breakpoint(max-width 800px) {
			position: static;
		}
	}

	.scene {
		padding-top: 0;

		@include breakpoint(max-width 800px) {
			padding-top: 60px;
		}
	}

	.tree {
		background: url("../images/footer-tree.png") no-repeat center bottom, url("../images/paper-bg.png");
		height: 495px;
		width: 100%;
		padding-top: 30px;

		@include breakpoint(max-width 800px) {
			display: none;
		}
	}

	#contact {
		background-color: darken($violetWarm, 10);
		text-align: center;
		@include clearfix;
	}

	h2 {
		@include full;
		border: none;
		font-family: "Roboto Slab", "Times New Roman", serif;
		color: lighten($creamy, 10);
	}

	a.email {
		display: inline-block;
		margin: 30px 0;
		color: $violetWarm;
		padding: 10px 20px;
		background-color: white;
		background-image: url("../images/paper-bg.png");
		text-decoration: none;
		font-size: 1.2em;
		border-top: 0px solid $pinky;
		transition: 100ms all linear;
		height: 45px;

		&:hover {
			border-top: 3px solid $pinky;
		}
	}

	.copy {
		padding-top: 20px;
		padding-bottom: 10px;
	}

	.copy p {
		line-height: 1.3;
		font-size: 0.6em;
		font-family: "Open Sans", "Times New Roman", serif;
		font-weight: 300;
		color: darken($violetWarm, 14);
	}

}