#design {

	padding-left: 10px;
	padding-right: 10px;

	h3 {
		display: inline-block;
		padding-bottom: 15px;
		font-size: 1.3em;
		text-align: center;
		margin-bottom: 25px;
		position: relative;
		color: lighten($grey, 20);

		@include breakpoint(max-width $narrow) {
  			font-size: 1em;
  		}
	}

	h3:before {
	  content : "";
	  position: absolute;
	  left    : 25%;
	  bottom  : 0;
	  height  : 1px;
	  width   : 50%;
	  border-bottom: 1px solid lighten($grey, 50);
	}

	#illustrations, #logos {
		@include container;
		text-align: center;
		margin-top: 30px;
	}

	#illustrations {
		@include container(600px);
	}

	#logos {
		@include clearfix;
		@include breakpoint(max-width $small) {
			margin-top: 30px;
		}
	}

	#gallery a img {
		transition: all 100ms linear;
		width: 101%;
		height: 101%;
		max-width: 101%;
		max-height: 101%;
	}

	#gallery a:hover img {
		transform: translateY(5px);
		-webkit-transform: translateY(5px);
		-moz-transform: translateY(5px);
		-ms-transform: translateY(5px);
		-o-transform: translateY(5px);
	}

	#gallery a {
		background-color: $pinky;
		overflow: hidden;
		line-height: 0;
		border: 10px solid white;
		@include box-shadow(0 0 3px lighten($grey, 40));
		margin-bottom: gutter(12);
		@include gallery(4);
		@include gutters(after);

		@include breakpoint(max-width $small) {
			@include gallery(6 of 12);
		}

		@include breakpoint(max-width $narrow) {
			@include gallery(11 of 12);
			@include full;
			@include break;
		}
	}

	.line {
		margin: 0;
	}
}