.overlay {
	z-index: 10;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba($violetWarm, 0.95);
	justify-content: center;
	align-items: center;
	display: flex;
	transition: all 300ms ease-in-out;
	opacity: 0;
	pointer-events: none;

	&.show-modal {
		opacity: 1;
		pointer-events: auto;

		.modal {
			transform: translate(0px, 0px);
		}
	}

	.close-btn {
		background: url("../images/close.png");
		height: 24px;
		width: 24px;
		position: absolute;
		bottom: -34px;
		right: 0;
		cursor: pointer;
		opacity: 0.5;
		transition: all 200ms;

		&:hover {
			opacity: 0.8;
		}
	}

	.modal {
		transform: translate(0px, -60px);
		transition: all 500ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
		position: relative;
		max-width: 600px;
		width: 100%;
		background: url("../images/paper-bg.png");
		@include border-radius(3px);
		padding: 30px 10px;
		box-shadow: 0 4px 40px rgba(black, 0.4);
		margin: 0 10px;
		display: flex;
		justify-content: center;
		align-items: center;

		p {
			margin: 20px 0;
		}

		form {
			max-width: 300px;
			width: 100%;
		}

		label {
			display: block;
			font-family: "Roboto Slab", "Times New Roman", serif;
			font-size: 0.8em;
			font-weight: 400;
			color: lighten($grey, 20);
		}

		input, textarea {
			font-family: "Courgette", "Times New Roman", serif;
			outline: none;
			width: 100%;
			color: $grey;
			border: 1px solid white;
			box-shadow: 0 0 1px $creamy inset;
			padding: 10px;

			&:hover, &:focus {
				box-shadow: 0 0 1px $violetWarm inset;
			}
		}

		input {
			height: 30px;
			border-bottom: 1px dashed lighten($awesome, 20);
		}

		textarea {
			height: 100px;
			border-bottom: 1px dashed lighten($awesome, 20);
			display: block;
		}

		input[type="submit"] {
			margin-top: 10px;
			height: 40px;
			border: none;
			background-color: $awesome;
			color: $creamy;
			cursor: pointer;
			transition: all 200ms ease-in-out;
			box-shadow: none;
			font-family: "Roboto Slab", "Times New Roman", serif;
			font-size: 0.8em;
			font-weight: 400;

			&:hover {
				border-top: 3px solid $pinky;
			}
		}

		.success p {
			font-size: 1.3em;
			font-weight: 400;
			margin: 15px 0;
			color: $violetWarm;
		}

		.error {
			color: $pinky;
		}
	}
}